# 5장 제어문

## 5.2 지정된 범위만큼 반복하는 for문

## 반복문의 필요성

In [4]:
a = 0 # 변수 a를 0으로 초기화
print(a) # 변수 a 출력

a = a + 1
print(a)

a = a + 1
print(a)

a = a + 1
print(a)

a = a + 1
print(a)

a = a + 1
print(a)

a = a + 1
print(a)

0
1
2
3
4
5
6

## for문
#### for 인덱스 in <반복 범위>:
        <코드 블록>

## 반복 범위 지정

### 리스트 이용

In [5]:
for a in [0,1,2,3,4,5]: # 랙a
    print(a)

0
1
2
3
4
5

In [6]:
myFriends = ['James','Robert','Lisa','Mary'] # 리스트를 변수에 할당
for myFriends in myFriends:
    print(myFriends)

James
Robert
Lisa
Mary

In [29]:
myFriends = ['James','Robert','Lisa','Mary'] # 리스트를 변수에 할당
sc = [100,70,80,85]
for num in [0,1,2,3]: # 4개 이상이면 오류 발생! - 에러 처리하는 방법 주의하기
    # 값이 존재하면 처리 아니면 break 문을 사용할 수 있지 않을까? # 해결방법: 리스트의 길이를 넘어가면 break!!
    if num > len(myFriends):
        break
    print(num, myFriends[num], sc[num])

0 James 100
1 Robert 70
2 Lisa 80
3 Mary 85

### range() 함수 이용

range(start,stop-1,step)

In [15]:
print(range(0,10,1))

range(0, 10)

리스트 형태로 출력해야함

In [16]:
print(list(range(0,10,1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

반복문에 활용

In [17]:
for a in range(0,6,1):
    print(a)

0
1
2
3
4
5

In [18]:
for a in range(0,6,2): # 0 ~ 6까지 중 2씩 증가
    print(a)

0
2
4

In [22]:
print("퀴즈")
for a in range(0,7,3): 
    print(a)
print("퀴즈")
for a in range(3,7,3): 
    print(a)

퀴즈
0
3
6
퀴즈
3
6

예제 변형하기

In [26]:
for a in range(0,7,3): 
    if a == 0:
        continue
    if a % 3 == 0:
        print(a)

퀴즈
3
6

생략가능

In [23]:
print(list(range(0, 10,1)))
print(list(range(0, 10)))
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

양수가 아니어도 가능

In [32]:
print(list(range(0,20,5)))
print(list(range(-10,0,2)))
print(list(range(3,-10,-3)))
print(list(range(0,-5,1)))
print(list(range(0,1,1)))

[0, 5, 10, 15]
[-10, -8, -6, -4, -2]
[3, 0, -3, -6, -9]
[]
[0]

## 중첨 for문

#### for <반복 변수1> in <반복 범위1>:
        for <반복 변수2> in <반복 범위2>:
            <코드 블록>

In [33]:
x_list = ['x1','x2']
y_list = ['y1', 'y2']

print("x  y") 
for x in x_list:      # x는 변수명, x_list는 배열명
    for y in y_list:  # y는 변수명, y_list는 배열명
        print(x,y)

x y
x1 y1
x1 y2
x2 y1
x2 y2

### 출력값 이해하기
for x in x_list:      
    for y in y_list:  
        print(x,y)

x는 구구단에서 단을 의미, y는 단에 곱하는 수라고 이해하면 쉽게 이해가능!
      
#### 즉, x1 - y1, x1 - y1 끝나고 x2 - y1, x2 -y2

#### 구구단을 출력 - 이중 for문 이용

In [49]:
print("구구단")
for x in range(2,10,1):    
    print("------------")
    print(x,"단")
    for y in range(1,10,1):  
        print(x,y,"=",x*y)
    if x == 9:
        print("------------")

구구단
------------
2 단
2 1 = 2
2 2 = 4
2 3 = 6
2 4 = 8
2 5 = 10
2 6 = 12
2 7 = 14
2 8 = 16
2 9 = 18
------------
3 단
3 1 = 3
3 2 = 6
3 3 = 9
3 4 = 12
3 5 = 15
3 6 = 18
3 7 = 21
3 8 = 24
3 9 = 27
------------
4 단
4 1 = 4
4 2 = 8
4 3 = 12
4 4 = 16
4 5 = 20
4 6 = 24
4 7 = 28
4 8 = 32
4 9 = 36
------------
5 단
5 1 = 5
5 2 = 10
5 3 = 15
5 4 = 20
5 5 = 25
5 6 = 30
5 7 = 35
5 8 = 40
5 9 = 45
------------
6 단
6 1 = 6
6 2 = 12
6 3 = 18
6 4 = 24
6 5 = 30
6 6 = 36
6 7 = 42
6 8 = 48
6 9 = 54
------------
7 단
7 1 = 7
7 2 = 14
7 3 = 21
7 4 = 28
7 5 = 35
7 6 = 42
7 7 = 49
7 8 = 56
7 9 = 63
------------
8 단
8 1 = 8
8 2 = 16
8 3 = 24
8 4 = 32
8 5 = 40
8 6 = 48
8 7 = 56
8 8 = 64
8 9 = 72
------------
9 단
9 1 = 9
9 2 = 18
9 3 = 27
9 4 = 36
9 5 = 45
9 6 = 54
9 7 = 63
9 8 = 72
9 9 = 81
------------

In [39]:
xp =input("원하는 구구단 단을 입력하세요")
xp = int(xp)
for y in range(1,10,1):  
    print(xp,y,"=",xp*y)

원하는 구구단 단을 입력하세요2
2 1 = 2
2 2 = 4
2 3 = 6
2 4 = 8
2 5 = 10
2 6 = 12
2 7 = 14
2 8 = 16
2 9 = 18

In [40]:
x_list = ['x1','x2']
y_list = ['y1', 'y2']

print("x  y") 
for x in x_list:      # x는 변수명, x_list는 배열명
    for y in y_list:  # y는 변수명, y_list는 배열명
        print("x,y")   # 이러면 x,y만 보임 # 이런 경우도 오류

x  y
x,y
x,y
x,y
x,y

In [62]:
x_list = ['x1','x2']
y_list = ['y1', 'y2']
z_list = ['z1', 'z2']

print("x  y  z") 
for x in x_list:     
    for y in y_list:  
           for z in z_list:
                print(x,y,z)

x  y  z
x1 y1 z1
x1 y1 z2
x1 y2 z1
x1 y2 z2
x2 y1 z1
x2 y1 z2
x2 y2 z1
x2 y2 z2

In [66]:
x_list = ['x1','x2']
y_list = ['y1', 'y2']
z_list = ['z1', 'z2']

print("x  y  z") 
for x in x_list:     
    for y in y_list:  
        for z in z_list:
            print(x,y,z)
        print("---------")

x  y  z
x1 y1 z1
x1 y1 z2
---------
x1 y2 z1
x1 y2 z2
---------
x2 y1 z1
x2 y1 z2
---------
x2 y2 z1
x2 y2 z2
---------

In [67]:
x_list = ['x1','x2']
y_list = ['y1', 'y2']
z_list = ['z1', 'z2','z3']

print("x  y  z") 
for x in x_list:     
    for y in y_list:  
        for z in z_list:
            print(x,y,z)
        print("---------")

x  y  z
x1 y1 z1
x1 y1 z2
x1 y1 z3
---------
x1 y2 z1
x1 y2 z2
x1 y2 z3
---------
x2 y1 z1
x2 y1 z2
x2 y1 z3
---------
x2 y2 z1
x2 y2 z2
x2 y2 z3
---------

## 여러 개의 리스트 다루기

In [71]:
names = ['James', 'Robert','Lisa','Mary']
scores = [95, 96, 97, 94]

In [73]:
names = ['James', 'Robert','Lisa','Mary']
scores = [95, 96, 97, 94]
for k in range(len(names)):     # len()은 리스트의 길이를 알아낸다 # 0,1,2,3 으로 진행
    print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [73]:
names = ['James', 'Robert','Lisa','Mary']
scores = [95, 96, 97, 94]
for k in range(len(names)):     # len()은 리스트의 길이를 알아낸다 # 0,1,2,3 으로 진행
    print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

In [77]:
names = ['James', 'Robert','Lisa','Mary','JJ']
scores = [95, 96, 97, 94]
for k in range(len(names)):     # len()은 리스트의 길이를 알아낸다 # 0,1,2,3 으로 진행, names의 길이가 score보다 길어서 오류발생
    print(names[k], scores[k])

James 95
Robert 96
Lisa 97
Mary 94

IndexError: list index out of range

In [79]:
names = ['James', 'Robert','Lisa','Mary','JJ']
scores = [95, 96, 97, 94]
for name, score in zip(names, scores):  #zip는 같은 길이의 데이터끼리 묶어준다, - JJ가 출력되지 않는 이유
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

In [81]:
names = ['James', 'Robert','Lisa','Mary','JJ']
numbers = [1,2,3,4,5]
scores = [95, 96, 97, 94]
for name, number ,score in zip(names, numbers ,scores):  #zip는 같은 길이의 데이터끼리 묶어준다, 
    print(name, number,score)

James 1 95
Robert 2 96
Lisa 3 97
Mary 4 94